body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50px;
  }
  
  .content-container {
      max-width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;
  }
  
  #video-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
    text-align: center;
  }
  