<!-- templates/app/enter_code.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Code</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="content-container">
        {% if test %}
            <h1 class="test-title">Test: {{ test.name }}</h1>
            <form method="post" action="{% url 'submit-test' %}">
                {% csrf_token %}
                {% if questions_with_answers %}
                    <div class="questions-container">
                        {% for item in questions_with_answers %}
                            <div class="question">
                                <h2>{{ item.question.question_text }}</h2>
                                <div class="answers">
                                    {% for answer in item.answers %}
                                        <input type="radio" name="question_{{ item.question.id }}" value="{{ answer.id }}">
                                        <label>{{ answer.answer_text }}</label><br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="submit-button">Submit Test</button>
                {% else %}
                    <p class="empty-test">This test is empty.</p>
                {% endif %}
            </form>
            <a href="{% url 'index' %}" class="home-link">Go back to homepage</a>
        {% else %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
