<!-- templates/app/enter_code.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if test %}
            <h1 class="mt-5">Test: {{ test.name }}</h1>
            <form method="post" action="{% url 'submit-test' %}" class="mt-4">
                {% csrf_token %}
                {% if questions_with_answers %}
                    <div class="questions-container">
                        {% for item in questions_with_answers %}
                            <div class="question card mt-4">
                                <div class="card-body">
                                    <h2 class="card-title">{{ item.question.question_text }}</h2>
                                    <div class="answers">
                                        {% for answer in item.answers %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="question_{{ item.question.id }}" value="{{ answer.id }}" id="answer_{{ answer.id }}">
                                                <label class="form-check-label" for="answer_{{ answer.id }}">{{ answer.answer_text }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Submit Test</button>
                {% else %}
                    <p class="empty-test text-danger mt-4">This test is empty.</p>
                {% endif %}
            </form>
            <a href="{% url 'index' %}" class="btn btn-link mt-4">Go back to homepage</a>
        {% else %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
