{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  Testify
{% endblock %}

{% block cssImport %}
  <link rel="stylesheet" href="{% static 'css/LoadingPage.css' %}" />
{% endblock %}

{% block content %}
  <div class="content-container">
    <div id="video-container">
      <video autoplay muted>
        <source src="{% static 'videos/Testify.mp4' %}" type="video/mp4" />
      </video>
    </div>

    <h1 class="display-4">Testify</h1>
    <p class="lead">Welcome to Testify! This platform allows you to create and participate in tests.</p>
    <div class="buttons">
      <input type="text" id="code" class="form-control mb-2" placeholder="Enter Code">
      <button onclick="window.location.href='enter_code_view'" class="btn btn-primary btn-lg mr-2">Enter Code</button>
      <button onclick="window.location.href='create_test_view'" class="btn btn-success btn-lg">Create New Test</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/setTimeout.js' %}"></script>
{% endblock %}

{% block footer %}
  {% include 'app/footer.html' %}
{% endblock %}
