{% extends 'app/base.html' %}
{% load static %}

{% block title %}
  Testify
{% endblock %}

{% block cssImport %}
  <link rel="stylesheet" href="{% static 'css/LoadingPage.css' %}" />
{% endblock %}

{% block content %}
  <div id="video-container">
    <video autoplay muted>
      <source src="{% static 'videos/Testify.mp4' %}" type="video/mp4" />
    </video>
  </div>

  <h1>TODO CONTENT</h1>

  <form action="{% url 'your_django_view' %}" method="post">
    {% csrf_token %}
    <label for="your_field">Your Field:</label>
    <input type="text" id="your_field" name="your_field">
    <button type="submit">Submit</button>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/setTimeout.js' %}"></script>
{% endblock %}

{% block footer %}
  {% include 'app/footer.html' %}
{% endblock %}
